body{
  margin: 0px;
}

header {
  background: #27C67E;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

header h3 {
  margin-left: 20px;
}

#map {
  margin-top: -17px;
  position: absolute;
  width: 100%;
  height: 80%;
}
