body{
  margin: 0px;
}

header {
  background: rgb(195, 63, 63);
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin-left: 20px;
}

header h3 {
  font-family: frenchy;
  font-size: 40px;
  color: white;
  margin: 0px;
}

header img {
  margin-right: 20px;
  height: 30px;
  width: auto;
  cursor: pointer;
}

#map {
  margin-top: -17px;
  position: absolute;
  width: 100%;
  height: 91%;
}

#jerk {
  text-shadow: 1px 1px 1px black;
  color: black;
}

#about {
  cursor: pointer;
}

.right {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.right img {
  margin-left: 15px;
}
